{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}}
<div class="card card-body">
  <h3 class="text-center bg-warning">Add Subject</h3>
  <form action="/subjects" method="post">
    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" class="form-control" name="code" required>
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" name="type" required>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" required>
    </div>
    <div class="form-group">
      <label for="description">Syllabus</label>
      <textarea class="form-control" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="imageRootFolderURL">Root Folder URL for Images</label>
      <input type="text" class="form-control" name="imageRootFolderURL">
    </div>
    <div class="form-group">
      <label for="notebookRootFolderURL">Root Folder URL for Notebook PDFs</label>
      <input type="text" class="form-control" name="notebookRootFolderURL">
    </div>
    <div class="form-group">
      <label for="image">Image filename with extension</label>
      <input type="text" class="form-control" name="image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>