<div class="card card-body">
  <h3 class="text-center text-light bg-dark">Add Notebook</h3>
  <form action="/lessons" method="post">
    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" class="form-control" name="subject">
    </div>
    <div class="form-group">
      <label for="semester">Semester</label>
      <input type="number" class="form-control" name="semester">
    </div>
    <div class="form-group">
      <label for="lessonId">Notebook # </label>
      <input type="number" class="form-control" name="lessonId">
    </div>
    <div class="form-group">
      <label for="title">Notebook Title</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
      <label for="description">Notebook Description</label>
      <textarea class="form-control" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="videoTitle">Video Title</label>
      <input type="text" class="form-control" name="videoTitle">
    </div>
    <div class="form-group">
      <label for="videoLink">Video URL</label>
      <input type="text" class="form-control" name="videoLink">
    </div>
    <div class="form-group">
      <label for="careerTitle">Career Title</label>
      <input type="text" class="form-control" name="careerTitle">
    </div>
    <div class="form-group">
      <label for="careerLink">Career Link</label>
      <input type="text" class="form-control" name="careerLink">
    </div>
    <div class="form-group">
      <label for="movieTitle">Movie Title</label>
      <input type="text" class="form-control" name="movieTitle">
    </div>
    <div class="form-group">
      <label for="movieLink">Movie Link</label>
      <input type="text" class="form-control" name="movieLink">
    </div>
    <div class="form-group">
      <label for="documentLink">Root folder Link for notebook documents</label>
      <input type="text" class="form-control" name="documentLink">
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="text" class="form-control" name="image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>