<div class="container">
  <div class="home-inner mt-4">
    <div class="card bg-success card-form mt-5">
      <div class="card-body">
        <h2>Syllabus</h2>
        <br/>        
        <p>Marine Biology</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error sit harum minus sed assumenda asperiores id nobis, in molestiae animi. Aperiam harum sit provident eveniet molestias ratione sint soluta in!</p>
        <br/>
        <p>Geology</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil pariatur, maxime, itaque minima quo magnam cupiditate voluptates consequuntur ratione impedit ab molestiae dolorum recusandae soluta! Rerum, ducimus! Dolorem, perspiciatis architecto.</p>
        <p>Version: 1.0.0</p>
      </div>
    </div>
  </div>
</div>