<div class="container">
  <div class="home-inner mt-4">
    <div class="card bg-success card-form mt-5">
      <div class="card-body">
        <br/> {{#each subjects}}
        <h2>{{name}}</h2>
        <br>
        <p>{{description}}</p>
        {{/each}}
        <br>
        <p>Version: 1.0.0</p>
      </div>
    </div>
  </div>
</div>