<header id="home-section">
    <div class="dark">
      <div class="home-inner">
        <div class="container">
          <div class="col-lg-12">
            <div class="card bg-info text-center card-form mt-5">
              <div class="card-body">
                <h2>Welcome</h2>
                <p class="display-6">This website is a helpful resource for my marine biology and geology students. Here you will find all the information you need. This is a place to find extra handouts, class assignments, links and videos for each lesson.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>